.logo {
  display: flex;
  align-items: center;
  color: var(--lightBlue);
  fill: var(--lightBlue);
  font-size: 15px;
	font-family: 'PalatinoLinotype';
  font-weight: 400;
  line-height: 1.2;
  white-space: nowrap;
}

.logo_icon {
  width: 5em;
  height: 5em;
}

.logo_title {
  text-transform: uppercase;
}

.logo_slogan {
  font-size: .7em;
}