.search_block {
  background-size: cover;
  background-position: center;
}

form.search_tour {
  display: grid;
  width: 925px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  background: #fff;
  margin: auto;
  padding: 1em;
}

.select_wrapper,
.submit_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.select_wrapper h6.title {
  color: var(--darkGrey);
  margin-bottom: 0.5em;
}

.select_wrapper select,
.submit_wrapper .submit_form {
  height: 2.5em;
  background: #f9f9f9;
  color: #a3a3a3;
  font-size: .7em;
  border: 1px solid var(--borderColor);
  border-radius: 5em;
  padding: 0 1.5em;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

.submit_wrapper .submit_form {
  background: var(--gradient90);
  color: #fff;
  text-transform: uppercase;
  border: none;
  transition: all .3s;
}

.submit_wrapper .submit_form:hover {
  transform: scale(1.05);
}


/* ================
	adaptive
================ */
@media screen and (min-width: 992px) {
  form.search_tour {
    width: 925px;
  }
}

@media screen and (max-width: 992px) {
  form.search_tour {
    width: 650px;
  }
}

@media screen and (max-width: 700px) {
  form.search_tour {
    width: 100%;
  }
}


@media screen and (min-width: 568px) {
  form.search_tour {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 568px) {
  form.search_tour {
    grid-template-columns: repeat(2, 1fr);
  }
}