.contact_us {
  margin: auto;
  padding: 2em 0;
}

.description {
  margin-bottom: 2em;
}

.description .text {
  color: var(--lightGrey);
}

.map {
  width: 100%;
  margin: 2em 0;
}

.address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  border-top: 1px solid var(--borderColor);
  padding: 1em 0;
}

.address:nth-child(1) {
  border: none;
}

.address .title {
  white-space: nowrap;
  margin-right: 2em;
}

.address .value {
  color: var(--lightGrey);
  text-align: right;
}

.address:nth-child(3) .value {
  white-space: pre;
}

.value span[data-status="opened"] {
  color: #188038;
}

.value span[data-status="closed"] {
  color: #b00000;
}



/* info */
.info_wrapper {
  padding-bottom: 1em;
}

.info {
  padding: .5em 0;
}

.info_btn {
  width: 8em;
  background: var(--gradient90);
  color: #fff;
  text-align: center;
  border-radius: 50px;
  padding: .2em 0;
  cursor: pointer;
}

.info_text {
  display: none;
  font-size: 0.9em;
}

.expanded .info_text {
  display: block;
}

.text_item {
  position: relative;
  padding: .1em 0;
}

.info:nth-child(2) .text_item {
  padding: .1em 0 .1em .7em;
}

.info:nth-child(2) .text_item:before {
  position: absolute;
  content: '-';
  left: 0;
}



/* ================
	adaptive
================ */
@media screen and (min-width: 992px) {
  .contact_us {
    width: 925px;
    grid-template-columns: 1fr 1fr;
  }

  .map {
    height: 25vw;
  }
}

@media screen and (min-width: 700px) and (max-width: 992px) {
  .contact_us {
    width: 650px;
  }
}

@media screen and (min-width: 700px) {
  .map {
    height: 25vw;
  }
}

@media screen and (max-width: 700px) {
  .contact_us {
    padding: 2em 1em;
  }
}

@media screen and (min-width: 568px) and (max-width: 700px) {
  .contact_us {
    width: 100%;
  }

  .map {
    height: 35vw;
  }
}

@media screen and (min-width: 568px) {
  .address_data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 2em;
  }

  .address:nth-child(2) {
    border: none;
  }

  .address:nth-last-child(1) {
    grid-column: 1/3;
  }
}