.destinations {
  display: grid;
  grid-gap: 1.5em;
  margin: auto;
}

.destination_item {
  display: grid;
  grid-gap: 1.5em;
}


/* ================
	Big dest
================ */
.destination_package {
  position: relative;
  grid-row: 1/4;
  background-size: cover;
  background-position: center;
}

.destination_package .text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-size: 20px;
  padding: 1.5em;
}

.destination_package .location {
  font-weight: 700;
  margin-bottom: 0.3em;
}

.destination_package .packages {
  font-size: .6em;
  text-transform: uppercase;
}


/* ================
	Small dest
================ */
.destination_list_item {
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 1.5em;
}

.destination_img {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
}

.destination_desc {
  position: relative;
  font-size: 13px;
}

.destination_desc .title {
  color: var(--darkGrey);
}

.destination_desc .location {
  color: #9a9a9a;
}

.destination_desc .link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: var(--gradient90);
  color: #fff;
  line-height: 30px;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
}

.destination_inner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  background: var(--gradient90);
  color: #fff;
  text-align: center;
  padding: 2em;
  opacity: 0;
  transition: opacity .5s;
}

.destination_package:hover .destination_inner {
  opacity: 1;
}

.destination_inner h3.title {
  font-size: 1.5em;
  text-transform: capitalize;
}

.destination_inner ul {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
}

.destination_inner ul li {
  margin: 0.5em;
}

.destination_inner a.link {
  display: block;
  background: #fff;
  color: var(--darkBlue);
  text-align: center;
  border-radius: 50px;
  padding: .2em .5em;
}


/* ================
	adaptive
================ */
@media screen and (min-width: 992px) {
  .destinations {
    width: 925px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 700px) and (max-width: 992px) {
  .destinations {
    width: 650px;
  }
}

@media screen and (min-width: 568px) and (max-width: 700px) {
  .events {
    width: 100%;
  }
}

@media screen and (min-width: 568px) {
  .destination_item {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .destinations {
    width: 250px;
  }

  .destination_package {
    height: 20em;
  }
}