@font-face {
  font-family: 'PalatinoLinotype';
  src: url('fonts/PalatinoLinotype-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PalatinoLinotype';
  src: url('fonts/PalatinoLinotype-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --darkGrey: #555;
  --lightGrey: #9a9a9a;
  --darkBlue: #002aff;
  --lightBlue: #0075ff;
  --gradient90: linear-gradient(90deg, var(--darkBlue), var(--lightBlue));
  --gradient45: linear-gradient(45deg, var(--darkBlue), var(--lightBlue));
  --borderColor: #dedede;
}