body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --darkBlue: #002aff;
  --lightBlue: #0075ff;
  --gradient90: linear-gradient(90deg, var(--darkBlue), var(--lightBlue));
  --gradient45: linear-gradient(45deg, var(--darkBlue), var(--lightBlue));
}