header {
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 1em 1em rgba(0, 0, 0, .1);
  z-index: 9;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* ================
	top
================ */
.top__header {
  display: flex;
  justify-content: space-between;
  background: var(--gradient90);
  color: #fff;
  fill: #fff;
  padding: .8em 3em;
  box-sizing: border-box;
}

.languages,
.left_header,
.top__header ul {
  display: flex;
}

.lang_icon {
  width: .8em;
  margin-right: .3em;
}

.top__header ul {
  margin: 0 .8em;
}

ul.lang_list {
  margin-left: 1.5em;
}

ul.lang_list li {
  text-transform: uppercase;
  cursor: pointer;
}

.top__header ul li {
  display: flex;
  align-items: center;
  margin: 0 .3em;
}


/* social */
.social_list a {
  position: relative;
  display: block;
  width: 1em;
  height: 1em;
}

.social_list a>svg {
  position: absolute;
  top: 0;
  left: 0;
}


/* ================
	bottom
================ */
.main_header {
  position: relative;
  display: flex;
  width: 925px;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  margin: auto;
  padding: 1em 0;
}

.header_menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1em;
}

.menu_link {
  display: inline-block;
  color: var(--darkGrey);
  font-weight: 600;
  text-align: center;
  padding: .3em .8em;
  transition: all .3s;
}

.menu_link.active,
.menu_link:hover {
  color: var(--darkBlue);
}


/* ================
	adaptive
================ */
@media screen and (min-width: 992px) {
  .main_header {
    width: 925px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .main_header {
    width: 650px;
  }
}

@media screen and (max-width: 700px) {
  .top__header {
    font-size: .8em;
  }

  .main_header {
    width: 100%;
    padding: 1em;
  }

  .header_menu {
    grid-template-columns: repeat(2, auto);
  }
}


@media screen and (max-width: 568px) {
  .top__header {
    flex-direction: column;
    align-items: center;
  }

  .left_header {
    margin-bottom: 1em;
  }

  .menu_link {
    font-size: 1em;
  }

  .main_header {
    flex-direction: column;
  }

  header .logo {
    margin-bottom: 1em;
  }

  .header_menu {
    grid-template-columns: repeat(4, auto);
    margin-top: 1em;
  }
}

@media screen and (max-width: 490px) {
  .header_menu {
    grid-template-columns: repeat(2, auto);
  }
}