footer {
  background-size: cover;
  background-position: center;
  padding: 50px;
}


/* ================
	footer block
================ */
.footer_block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  background: #fff;
  color: #9a9a9a;
}


/* ================
	left
================ */
.footer_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 1em 0 2em;
}

.footer_logo {
  margin-bottom: 1em;
}


/* ================
	right
================ */
.footer_right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  padding: 2em 2em 0 1em;
}

.footer_right h5.list_title {
  color: var(--darkGrey);
  text-transform: uppercase;
  margin-bottom: 1em;
}

.footer_right ul {
  list-style-type: none;
  margin: 0;
}

.footer_right ul li {
  display: flex;
  align-items: center;
}

.list_arrow {
  width: .4em;
  height: .4em;
  border-top: 1px solid #9a9a9a;
  border-right: 1px solid #9a9a9a;
  margin-right: .5em;
  transform: rotate(45deg);
}

.list_arrow::after {
  content: '';
}

.list_text {
  font-size: .8em;
  margin-bottom: .3em;
}


/* ================
	right
================ */
.footer_bottom {
  display: flex;
  justify-content: space-between;
  grid-column: 1/3;
  background: var(--gradient90);
  color: #fff;
  padding: 1em;
}